html, body, ui-gmap-google-map, .angular-google-map, .angular-google-map-container {
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar {width: 6px; height: 4px; background: transparent; }
::-webkit-scrollbar-thumb { background-color: #f0f0f0; -webkit-border-radius: 1ex; }

#navigation {
  position: absolute;
  top: 0;
}

#navigation .list-group {
  margin: 0;
}

#navigation .list-group .list-group-item {
  border-radius: 0 !important;
  background-color: black;
  color: #aaa;
  border: none;
}

#navigation .list-group .list-group-item:hover {
  color: white;
}

#navigation .list-group .list-group-item:focus {
  outline: none;
}

#navigation .list-group .list-group-item.highlight {
  background-color: rgb(191, 70, 39);
  color: white;
}

#navigation .list-group .list-group-item.hlborder {
  border-right: 2px rgb(191, 70, 39);
}


#side {
  position: absolute;
  top: 0;
  left: 44px;
  background-color: rgb(191, 70, 39);
  color: white;
  padding: 2px 8px;
  width: 300px;
}

#side.wider {
  width: 600px;
  max-width: calc(100% - 44px);
}

#slider-readout {
  padding: 6px 0;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 2px;
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#side h1 {
  font-family: 'Cutive', serif;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 2px;
}

#side .list-group {
  margin: 10px 2px 2px 2px;
}

#side .list-group a:hover,
#side .list-group button:hover {
  color: black !important;
  text-decoration: none;
}

#side .list-group-item {
  background-color: transparent;
  border: none;
  color: white !important;
}

#side .list-group-item img {
  height: 20px;
  margin-left: -5px;
  margin-right: 2px;
}

#side .list-group-item a {
  color: white !important;
}

#side .list-group-item .ats-switch {
  margin: -5px -10px 0 0;
}

#side .list-group-item .ats-switch span.knob {
  color: #f5f5f5;
}

#slider h1 span {
  cursor: pointer;
}

/*#slider-control {
  margin-left: 30px;
}*/

#slider-control {
  width: 280px;
  margin-bottom: 10px;
}

#slider-control .btn-group {
  width: 280px;
}

#slider-control .btn-group-2 .btn {
  width: 50%;
}

#slider-control .btn-group-5 .btn {
  width: 20%;
}

#slider-control .rzslider {
  margin: 20px 0;
}

#slider-control .rzslider .rz-pointer {
  background-color: #286090;
}

#slider-control .rzslider .rz-pointer.rz-active:after {
  background: rgb(191, 70, 39);
}

#slider-control .rzslider .rz-pointer:focus {
  outline: none;
}

#slider-control .rz-bubble {
  display: none;
}

#slider-control .rz-bar-wrapper {
  padding-top: 8px;
}

#slider-control .rz-bar {
  height: 20px;
  width: 248px;
  margin: 0 16px;
  cursor: pointer;
}

#slider-control .rz-bar span {
  position: relative;
  width: 16.66666%;
  text-align: center;
}

#slider-control .rz-bar span.odd {
  background-color: #ccc;
}

#slider-control .rzslider:nth-child(3) .rz-bar {
  font-size: 0.65em;
}

#slider-control .rzslider:nth-child(3) .rz-bar span {
  height: 20px;
  padding-top: 6px;
}

#slider-control .rzslider:nth-child(3) .rz-bar span:nth-child(1) {width: 21%}
#slider-control .rzslider:nth-child(3) .rz-bar span:nth-child(2) {width: 20%}
#slider-control .rzslider:nth-child(3) .rz-bar span:nth-child(3) {width: 24%}
#slider-control .rzslider:nth-child(3) .rz-bar span:nth-child(4) {width: 13%}
#slider-control .rzslider:nth-child(3) .rz-bar span:nth-child(5) {width: 21%}


#characters .list-group {
  overflow-y: scroll;
}

#characters li a.hasimg {
  display: inline-block;
  width: 18px;
}

#characters li a.noimg {
  margin-left: 22px;
}

#search .input-group {
  margin-bottom: 10px;
}

#search .list-group .list-group-item span {
  width: 200px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

#about {
  height: 500px;
  padding-right: 5px;
  overflow-y: scroll;
}

#about p,
#about ul {
  color: black;
  background-color: #ddd;
  padding: 10px;
  margin: 0;
}

#about h1 {
  margin-top: 20px;
}

#about h1:first-child {
  margin-top: inherit;
}

#about ul {
  list-style-type: circle;
  list-style-position: inside;
}
